.navbar-wrapper {
    position: fixed;
    z-index: 9999;
    display: inline-block;
    top: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
    color: #DCDFE5;
}

.header-crest {
    float: left;
    margin: 0 20px;
    display: flex; 
    flex-direction: row;
    font-size: 1.7em;
}

.header-crest p {
    margin: 13px 0 10px 10px;
    color: #87799C;
}

.header-crest:hover {
    cursor: pointer;
}

.navbar-categories {
    float: right;
}

.navbar-category {
    float: left;
}

.navbar-category:nth-of-type(5) {
    padding-right: 40px;
}

.navbar-dropdown-opener {
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 20px 10px 20px;
    font-size: 1.3em;
    color: inherit;
    background-color: inherit;
}

.navbar-category:hover .navbar-dropdown-opener {
    color: #87799C;
}

.navbar-dropdown-opener:focus {
    outline: none;
}

.dropdown-subheaders {
    display: block;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    color: #DCDFE5;
}

.dropdown-subheaders a {
    display: block;
    padding: 10px 10px 10px 20px;
    background-color: #515768;
    transition: 0.2s ease-in-out;
    color: #DCDFE5;
    text-decoration: none;
}

.dropdown-subheaders a:hover {
    color: #87799C;
}

.navbar-category:hover .dropdown-subheaders {
    max-height: 510px;
}

@media screen and (max-width: 860px) {
    .navbar-wrapper {
        display: none;
    }
}
.mobile-navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #515768;
    top: 0;
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.mobile-navbar__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fixed-mobile-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #DCDFE5;
    width: 100%;
    z-index: 600;
}

.header-crest-mobile {
    width: 80%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}  

.header-crest-mobile p {
    color: #87799C;
    font-size: 1.6em;
    margin: 10px 0 5px 0;
}

.header-crest-mobile:hover {
    cursor: pointer;
}

.show-navbar {
    margin: 3%;
}

.main-header {
    background: none;
    color: #DCDFE5;
    border: none;
    font-size: 2em;
    width: 100%;
    font-weight: normal;
    text-align: center;
    margin: 10% 0;
}


.close-navbar {
    margin: 3% auto auto 90%;
}

.main-header:nth-of-type(1) {
    margin-top: 40%;
}

.main-header a {
    font-weight: normal;
    text-decoration: none;
}

.subheader-hidden, .subheader-display {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #DCDFE5;
    transition: 0.4s ease-in-out;
}

.subheader-hidden {
    left: 100%;
}

.subheader-display {
    left: 0;
}

.subheader-back {
    color: #DCDFE5;
    margin: 5% auto auto 10%;
    text-decoration: none;
    font-size: 1.3em;
    color: #515768;
}

.subheader-item {
    color: #DCDFE5;
    margin-left: 13%;
    margin-bottom: 6%;
    text-decoration: none;
    font-size: 1.3em;
    color: #515768;
}

.subheader-item:nth-of-type(1) {
    margin-top: 20%;
}

@media screen and (min-width: 861px) {
    .mobile-navbar {
        display: none;
    }
    .show-navbar {
        display: none;
    }
    .header-crest-mobile {
        display: none;
    }
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #515768;
    color: #DCDFE5;
    padding: 15px 0 20px 0;
}

.footer-crest p {
    display: inline;
    color: #87799C;
    font-size: 1.2em;
}

.footer-item {
    margin: 4px;
    text-align: center;
    font-size: 0.6em;
}
.title-container {
    margin-top: 10%;
}

.title-theme {
    font-weight: normal;
    color: #DCDFE5;
    font-size: 2.3em;
    background-color: #87799C;
    padding: 5px 10px;
    text-align: center;
}
.budget-page {
    padding-top: 10%;
    margin-bottom: 5%;
}

.about-page {
    padding-top: 10%;
    margin-bottom: 5%;
}

.about-text {
    padding: 20px;
    color: #515768;
}
html {
    margin: 0;
    padding: 0;
    background-color: #DCDFE5;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9fTl9FLy4vY29tcG9uZW50cy9uYXZiYXIvTmF2YmFyRGVza3RvcC5jc3MiLCJ3ZWJwYWNrOi8vX05fRS8uL2NvbXBvbmVudHMvbmF2YmFyL25hdmJhck1vYmlsZS5jc3MiLCJ3ZWJwYWNrOi8vX05fRS8uL2NvbXBvbmVudHMvZ2VuZXJhbC9mb290ZXIvZm9vdGVyLmNzcyIsIndlYnBhY2s6Ly9fTl9FLy4vY29tcG9uZW50cy9nZW5lcmFsL3RpdGxlLmNzcyIsIndlYnBhY2s6Ly9fTl9FLy4vY29tcG9uZW50cy9ldmVudHMvYnVkZ2V0L2J1ZGdldC5jc3MiLCJ3ZWJwYWNrOi8vX05fRS8uL2NvbXBvbmVudHMvYWJvdXQvYWJvdXQvYWJvdXQuY3NzIiwid2VicGFjazovL19OX0UvLi9jb21wb25lbnRzL2dlbmVyYWwvcGFnZS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7SUFDSSxnQkFBZ0I7SUFDaEIsY0FBYztJQUNkLHNCQUFzQjtJQUN0QixPQUFPO0lBQ1AsWUFBWTtJQUNaLDZCQUE2QjtJQUM3QixlQUFlO0NBQ2xCOztBQUVEO0lBQ0ksWUFBWTtJQUNaLGVBQWU7SUFDZixjQUFjO0lBQ2Qsb0JBQW9CO0lBQ3BCLGlCQUFpQjtDQUNwQjs7QUFFRDtJQUNJLHlCQUF5QjtJQUN6QixlQUFlO0NBQ2xCOztBQUVEO0lBQ0ksZ0JBQWdCO0NBQ25COztBQUVEO0lBQ0ksYUFBYTtDQUNoQjs7QUFFRDtJQUNJLFlBQVk7Q0FDZjs7QUFFRDtJQUNJLG9CQUFvQjtDQUN2Qjs7QUFFRDtJQUNJLGFBQWE7SUFDYixzQ0FBc0M7SUFDdEMsNkJBQTZCO0lBQzdCLGlCQUFpQjtJQUNqQixlQUFlO0lBQ2YsMEJBQTBCO0NBQzdCOztBQUVEO0lBQ0ksZUFBZTtDQUNsQjs7QUFFRDtJQUNJLGNBQWM7Q0FDakI7O0FBRUQ7SUFDSSxlQUFlO0lBQ2YsbUJBQW1CO0lBQ25CLGNBQWM7SUFDZCxpQkFBaUI7SUFDakIsNkJBQTZCO0lBQzdCLGVBQWU7Q0FDbEI7O0FBRUQ7SUFDSSxlQUFlO0lBQ2YsNkJBQTZCO0lBQzdCLDBCQUEwQjtJQUMxQiw2QkFBNkI7SUFDN0IsZUFBZTtJQUNmLHNCQUFzQjtDQUN6Qjs7QUFFRDtJQUNJLGVBQWU7Q0FDbEI7O0FBRUQ7SUFDSSxrQkFBa0I7Q0FDckI7O0FBRUQ7SUFDSTtRQUNJLGNBQWM7S0FDakI7O0FDckZMO0lBQ0ksZ0JBQWdCO0lBQ2hCLFlBQVk7SUFDWixjQUFjO0lBQ2QsMEJBQTBCO0lBQzFCLE9BQU87SUFDUCw2QkFBNkI7SUFDN0IsYUFBYTtDQUNoQjs7QUFFRDtJQUNJLG1CQUFtQjtJQUNuQixPQUFPO0lBQ1AsUUFBUTtJQUNSLFlBQVk7SUFDWixjQUFjO0lBQ2QsbUJBQW1CO0lBQ25CLGtDQUFrQztDQUNyQzs7QUFFRDtJQUNJLGdCQUFnQjtJQUNoQixjQUFjO0lBQ2Qsb0JBQW9CO0lBQ3BCLDBCQUEwQjtJQUMxQixZQUFZO0lBQ1osYUFBYTtDQUNoQjs7QUFFRDtJQUNJLFdBQVc7SUFDWCxlQUFlO0lBQ2YsY0FBYztJQUNkLG9CQUFvQjtDQUN2Qjs7QUFFRDtJQUNJLGVBQWU7SUFDZixpQkFBaUI7SUFDakIscUJBQXFCO0NBQ3hCOztBQUVEO0lBQ0ksZ0JBQWdCO0NBQ25COztBQUVEO0lBQ0ksV0FBVztDQUNkOztBQUVEO0lBQ0ksaUJBQWlCO0lBQ2pCLGVBQWU7SUFDZixhQUFhO0lBQ2IsZUFBZTtJQUNmLFlBQVk7SUFDWixvQkFBb0I7SUFDcEIsbUJBQW1CO0lBQ25CLGNBQWM7Q0FDakI7OztBQUdEO0lBQ0kseUJBQXlCO0NBQzVCOztBQUVEO0lBQ0ksZ0JBQWdCO0NBQ25COztBQUVEO0lBQ0ksb0JBQW9CO0lBQ3BCLHNCQUFzQjtDQUN6Qjs7QUFFRDtJQUNJLFlBQVk7SUFDWixjQUFjO0lBQ2QsZ0JBQWdCO0lBQ2hCLE9BQU87SUFDUCwwQkFBMEI7SUFDMUIsNkJBQTZCO0NBQ2hDOztBQUVEO0lBQ0ksV0FBVztDQUNkOztBQUVEO0lBQ0ksUUFBUTtDQUNYOztBQUVEO0lBQ0ksZUFBZTtJQUNmLHlCQUF5QjtJQUN6QixzQkFBc0I7SUFDdEIsaUJBQWlCO0lBQ2pCLGVBQWU7Q0FDbEI7O0FBRUQ7SUFDSSxlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLGtCQUFrQjtJQUNsQixzQkFBc0I7SUFDdEIsaUJBQWlCO0lBQ2pCLGVBQWU7Q0FDbEI7O0FBRUQ7SUFDSSxnQkFBZ0I7Q0FDbkI7O0FBRUQ7SUFDSTtRQUNJLGNBQWM7S0FDakI7SUFDRDtRQUNJLGNBQWM7S0FDakI7SUFDRDtRQUNJLGNBQWM7S0FDakI7O0FDMUhMO0lBQ0ksWUFBWTtJQUNaLGNBQWM7SUFDZCx1QkFBdUI7SUFDdkIsMEJBQTBCO0lBQzFCLGVBQWU7SUFDZix1QkFBdUI7Q0FDMUI7O0FBRUQ7SUFDSSxnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGlCQUFpQjtDQUNwQjs7QUFFRDtJQUNJLFlBQVk7SUFDWixtQkFBbUI7SUFDbkIsaUJBQWlCOztBQ2xCckI7SUFDSSxnQkFBZ0I7Q0FDbkI7O0FBRUQ7SUFDSSxvQkFBb0I7SUFDcEIsZUFBZTtJQUNmLGlCQUFpQjtJQUNqQiwwQkFBMEI7SUFDMUIsa0JBQWtCO0lBQ2xCLG1CQUFtQjs7QUNWdkI7SUFDSSxpQkFBaUI7SUFDakIsa0JBQWtCO0NBQ3JCOztBQ0hEO0lBQ0ksaUJBQWlCO0lBQ2pCLGtCQUFrQjtDQUNyQjs7QUFFRDtJQUNJLGNBQWM7SUFDZCxlQUFlOztBQ1BuQjtJQUNJLFVBQVU7SUFDVixXQUFXO0lBQ1gsMEJBQTBCO0lBQzFCLHNDQUFzQztDQUN6Qzs7QUFFRDtJQUNJLFVBQVU7SUFDVixXQUFXO0NBQ2QiLCJmaWxlIjoic3RhdGljL2Nzcy9zdHlsZXMuY2h1bmsuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLm5hdmJhci13cmFwcGVyIHtcclxuICAgIHBvc2l0aW9uOiBmaXhlZDtcclxuICAgIHotaW5kZXg6IDk5OTk7XHJcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgICB0b3A6IDA7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIHRyYW5zaXRpb246IDAuNXMgZWFzZS1pbi1vdXQ7XHJcbiAgICBjb2xvcjogI0RDREZFNTtcclxufVxyXG5cclxuLmhlYWRlci1jcmVzdCB7XHJcbiAgICBmbG9hdDogbGVmdDtcclxuICAgIG1hcmdpbjogMCAyMHB4O1xyXG4gICAgZGlzcGxheTogZmxleDsgXHJcbiAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xyXG4gICAgZm9udC1zaXplOiAxLjdlbTtcclxufVxyXG5cclxuLmhlYWRlci1jcmVzdCBwIHtcclxuICAgIG1hcmdpbjogMTNweCAwIDEwcHggMTBweDtcclxuICAgIGNvbG9yOiAjODc3OTlDO1xyXG59XHJcblxyXG4uaGVhZGVyLWNyZXN0OmhvdmVyIHtcclxuICAgIGN1cnNvcjogcG9pbnRlcjtcclxufVxyXG5cclxuLm5hdmJhci1jYXRlZ29yaWVzIHtcclxuICAgIGZsb2F0OiByaWdodDtcclxufVxyXG5cclxuLm5hdmJhci1jYXRlZ29yeSB7XHJcbiAgICBmbG9hdDogbGVmdDtcclxufVxyXG5cclxuLm5hdmJhci1jYXRlZ29yeTpudGgtb2YtdHlwZSg1KSB7XHJcbiAgICBwYWRkaW5nLXJpZ2h0OiA0MHB4O1xyXG59XHJcblxyXG4ubmF2YmFyLWRyb3Bkb3duLW9wZW5lciB7XHJcbiAgICBib3JkZXI6IG5vbmU7XHJcbiAgICBmb250LWZhbWlseTogJ01vbnRzZXJyYXQnLCBzYW5zLXNlcmlmO1xyXG4gICAgcGFkZGluZzogMTdweCAyMHB4IDEwcHggMjBweDtcclxuICAgIGZvbnQtc2l6ZTogMS4zZW07XHJcbiAgICBjb2xvcjogaW5oZXJpdDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IGluaGVyaXQ7XHJcbn1cclxuXHJcbi5uYXZiYXItY2F0ZWdvcnk6aG92ZXIgLm5hdmJhci1kcm9wZG93bi1vcGVuZXIge1xyXG4gICAgY29sb3I6ICM4Nzc5OUM7XHJcbn1cclxuXHJcbi5uYXZiYXItZHJvcGRvd24tb3BlbmVyOmZvY3VzIHtcclxuICAgIG91dGxpbmU6IG5vbmU7XHJcbn1cclxuXHJcbi5kcm9wZG93bi1zdWJoZWFkZXJzIHtcclxuICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgbWF4LWhlaWdodDogMDtcclxuICAgIG92ZXJmbG93OiBoaWRkZW47XHJcbiAgICB0cmFuc2l0aW9uOiAwLjNzIGVhc2UtaW4tb3V0O1xyXG4gICAgY29sb3I6ICNEQ0RGRTU7XHJcbn1cclxuXHJcbi5kcm9wZG93bi1zdWJoZWFkZXJzIGEge1xyXG4gICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICBwYWRkaW5nOiAxMHB4IDEwcHggMTBweCAyMHB4O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzUxNTc2ODtcclxuICAgIHRyYW5zaXRpb246IDAuMnMgZWFzZS1pbi1vdXQ7XHJcbiAgICBjb2xvcjogI0RDREZFNTtcclxuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxufVxyXG5cclxuLmRyb3Bkb3duLXN1YmhlYWRlcnMgYTpob3ZlciB7XHJcbiAgICBjb2xvcjogIzg3Nzk5QztcclxufVxyXG5cclxuLm5hdmJhci1jYXRlZ29yeTpob3ZlciAuZHJvcGRvd24tc3ViaGVhZGVycyB7XHJcbiAgICBtYXgtaGVpZ2h0OiA1MTBweDtcclxufVxyXG5cclxuQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogODYwcHgpIHtcclxuICAgIC5uYXZiYXItd3JhcHBlciB7XHJcbiAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxufSIsIi5tb2JpbGUtbmF2YmFyIHtcclxuICAgIHBvc2l0aW9uOiBmaXhlZDtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgaGVpZ2h0OiAxMDB2aDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICM1MTU3Njg7XHJcbiAgICB0b3A6IDA7XHJcbiAgICB0cmFuc2l0aW9uOiAwLjNzIGVhc2UtaW4tb3V0O1xyXG4gICAgei1pbmRleDogOTk5O1xyXG59XHJcblxyXG4ubW9iaWxlLW5hdmJhcl9fY29udGFpbmVyIHtcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIHRvcDogMDtcclxuICAgIGxlZnQ6IDA7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGhlaWdodDogMTAwdmg7XHJcbiAgICBvdmVyZmxvdy15OiBzY3JvbGw7XHJcbiAgICAtd2Via2l0LW92ZXJmbG93LXNjcm9sbGluZzogdG91Y2g7XHJcbn1cclxuXHJcbi5maXhlZC1tb2JpbGUtaGVhZGVyIHtcclxuICAgIHBvc2l0aW9uOiBmaXhlZDtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogI0RDREZFNTtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgei1pbmRleDogNjAwO1xyXG59XHJcblxyXG4uaGVhZGVyLWNyZXN0LW1vYmlsZSB7XHJcbiAgICB3aWR0aDogODAlO1xyXG4gICAgbWFyZ2luOiAxMHB4IDA7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxufSAgXHJcblxyXG4uaGVhZGVyLWNyZXN0LW1vYmlsZSBwIHtcclxuICAgIGNvbG9yOiAjODc3OTlDO1xyXG4gICAgZm9udC1zaXplOiAxLjZlbTtcclxuICAgIG1hcmdpbjogMTBweCAwIDVweCAwO1xyXG59XHJcblxyXG4uaGVhZGVyLWNyZXN0LW1vYmlsZTpob3ZlciB7XHJcbiAgICBjdXJzb3I6IHBvaW50ZXI7XHJcbn1cclxuXHJcbi5zaG93LW5hdmJhciB7XHJcbiAgICBtYXJnaW46IDMlO1xyXG59XHJcblxyXG4ubWFpbi1oZWFkZXIge1xyXG4gICAgYmFja2dyb3VuZDogbm9uZTtcclxuICAgIGNvbG9yOiAjRENERkU1O1xyXG4gICAgYm9yZGVyOiBub25lO1xyXG4gICAgZm9udC1zaXplOiAyZW07XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBtYXJnaW46IDEwJSAwO1xyXG59XHJcblxyXG5cclxuLmNsb3NlLW5hdmJhciB7XHJcbiAgICBtYXJnaW46IDMlIGF1dG8gYXV0byA5MCU7XHJcbn1cclxuXHJcbi5tYWluLWhlYWRlcjpudGgtb2YtdHlwZSgxKSB7XHJcbiAgICBtYXJnaW4tdG9wOiA0MCU7XHJcbn1cclxuXHJcbi5tYWluLWhlYWRlciBhIHtcclxuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XHJcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbn1cclxuXHJcbi5zdWJoZWFkZXItaGlkZGVuLCAuc3ViaGVhZGVyLWRpc3BsYXkge1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICBoZWlnaHQ6IDEwMHZoO1xyXG4gICAgcG9zaXRpb246IGZpeGVkO1xyXG4gICAgdG9wOiAwO1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogI0RDREZFNTtcclxuICAgIHRyYW5zaXRpb246IDAuNHMgZWFzZS1pbi1vdXQ7XHJcbn1cclxuXHJcbi5zdWJoZWFkZXItaGlkZGVuIHtcclxuICAgIGxlZnQ6IDEwMCU7XHJcbn1cclxuXHJcbi5zdWJoZWFkZXItZGlzcGxheSB7XHJcbiAgICBsZWZ0OiAwO1xyXG59XHJcblxyXG4uc3ViaGVhZGVyLWJhY2sge1xyXG4gICAgY29sb3I6ICNEQ0RGRTU7XHJcbiAgICBtYXJnaW46IDUlIGF1dG8gYXV0byAxMCU7XHJcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICBmb250LXNpemU6IDEuM2VtO1xyXG4gICAgY29sb3I6ICM1MTU3Njg7XHJcbn1cclxuXHJcbi5zdWJoZWFkZXItaXRlbSB7XHJcbiAgICBjb2xvcjogI0RDREZFNTtcclxuICAgIG1hcmdpbi1sZWZ0OiAxMyU7XHJcbiAgICBtYXJnaW4tYm90dG9tOiA2JTtcclxuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgIGZvbnQtc2l6ZTogMS4zZW07XHJcbiAgICBjb2xvcjogIzUxNTc2ODtcclxufVxyXG5cclxuLnN1YmhlYWRlci1pdGVtOm50aC1vZi10eXBlKDEpIHtcclxuICAgIG1hcmdpbi10b3A6IDIwJTtcclxufVxyXG5cclxuQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogODYxcHgpIHtcclxuICAgIC5tb2JpbGUtbmF2YmFyIHtcclxuICAgICAgICBkaXNwbGF5OiBub25lO1xyXG4gICAgfVxyXG4gICAgLnNob3ctbmF2YmFyIHtcclxuICAgICAgICBkaXNwbGF5OiBub25lO1xyXG4gICAgfVxyXG4gICAgLmhlYWRlci1jcmVzdC1tb2JpbGUge1xyXG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICB9XHJcbn0iLCIuZm9vdGVyLWNvbnRhaW5lciB7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzUxNTc2ODtcclxuICAgIGNvbG9yOiAjRENERkU1O1xyXG4gICAgcGFkZGluZzogMTVweCAwIDIwcHggMDtcclxufVxyXG5cclxuLmZvb3Rlci1jcmVzdCBwIHtcclxuICAgIGRpc3BsYXk6IGlubGluZTtcclxuICAgIGNvbG9yOiAjODc3OTlDO1xyXG4gICAgZm9udC1zaXplOiAxLjJlbTtcclxufVxyXG5cclxuLmZvb3Rlci1pdGVtIHtcclxuICAgIG1hcmdpbjogNHB4O1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgZm9udC1zaXplOiAwLjZlbTtcclxufSIsIi50aXRsZS1jb250YWluZXIge1xyXG4gICAgbWFyZ2luLXRvcDogMTAlO1xyXG59XHJcblxyXG4udGl0bGUtdGhlbWUge1xyXG4gICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcclxuICAgIGNvbG9yOiAjRENERkU1O1xyXG4gICAgZm9udC1zaXplOiAyLjNlbTtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICM4Nzc5OUM7XHJcbiAgICBwYWRkaW5nOiA1cHggMTBweDtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxufSIsIi5idWRnZXQtcGFnZSB7XHJcbiAgICBwYWRkaW5nLXRvcDogMTAlO1xyXG4gICAgbWFyZ2luLWJvdHRvbTogNSU7XHJcbn1cclxuIiwiLmFib3V0LXBhZ2Uge1xyXG4gICAgcGFkZGluZy10b3A6IDEwJTtcclxuICAgIG1hcmdpbi1ib3R0b206IDUlO1xyXG59XHJcblxyXG4uYWJvdXQtdGV4dCB7XHJcbiAgICBwYWRkaW5nOiAyMHB4O1xyXG4gICAgY29sb3I6ICM1MTU3Njg7XHJcbn0iLCJodG1sIHtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjRENERkU1O1xyXG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcclxufVxyXG5cclxuYm9keSB7XHJcbiAgICBtYXJnaW46IDA7XHJcbiAgICBwYWRkaW5nOiAwO1xyXG59XHJcbiJdLCJzb3VyY2VSb290IjoiIn0=*/